{{ 'locations.js' | asset_url | script_tag }}

{% javascript %}

for (let index = 0; index < CONFIGURATION.length; index++) 
{
  console.log(CONFIGURATION[index])
}



/*
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js" async="async"></script>
<script src="example.precompiled.js"></script>

const CONFIGURATION = {
    "locations": [
        { "CallOut": false, "Price": "$199", "Full": false, "title": "Katy Flagship", "img": locaMirus, "Available": "Filmmaking, Animation, Youtube Creators", "address1": "5561 3rd St", "address2": "Katy, TX 77493, USA", "coords": { "lat": 29.787922492451827, "lng": -95.82045536441802 }, "placeId": "ChIJsVW26iMkQYYRq4rXBj7EgJs", "camps": [{ camp: "Filmmaking", days: "3 days", price: "$229.99", icon: filmicon }, { camp: "Youtubers", days: "3 days", price: "$229.99", icon: youtubeicon }] },
        { "CallOut": true, "Price": "NEW!", "Full": false, "title": "The Woodlands", "img": locaCunae, "Available": "Filmmaking, Youtube Creators", "address1": "5655 Creekside Forest Dr,", "address2": "The Woodlands, TX 77389, USA", "coords": { "lat": 30.139868, "lng": -95.5076403 }, "placeId": "ChIJKYAxDGMxR4YRm-aGsMcIA0w", "camps": [{ camp: "Animation", days: "3 days", price: "$229.99", icon: animicon }, { camp: "Youtubers", days: "3 days", price: "$229.99", icon: youtubeicon }] },
        //{ "Price": "$199", "Full": false, "title": "TX Christian School Cy-fair", "img": locaTCS, "Available": "Filmmaking, Animation, Youtube Creators", "address1": "17810 Kieth Harrow Blvd", "address2": "Cypress, TX 77084, USA", "coords": { "lat": 29.84985717507098, "lng": -95.67134867934465 }, "placeId": "ChIJETdJFt_ZQIYR2QC-Cb4o2bw", "camps": [{ camp: "Animation", days: "3 days | Tue-Thu", price: "$199.99", icon: animicon }, { camp: "Youtubers", days: "3 days | Tue-Thu", price: "$199.99", icon: youtubeicon }] },
        //{ "Price": "FULL!", "Full": true, "title": "Yorkshire Academy Memorial", "img": locaYork, "Available": "Filmmaking, Animation", "address1": "14120 Memorial Dr", "address2": "Houston, TX 77079, USA", "coords": { "lat": 29.77108864232313, "lng": -95.59252427790985 }, "placeId": "ChIJfWgquWTbQIYRD-wa36hRBZE", "camps": [{ camp: "Animation", days: "5 half days | Mon-Fri", price: "FULL!", icon: animicon }, { camp: "Filmmaking", days: "5 half days | Mon-Fri", price: "FULL!", icon: filmicon }] },
    ],
    "mapOptions": { "center": { "lat": 38.0, "lng": -100.0 }, "fullscreenControl": true, "mapTypeControl": false, "streetViewControl": false, "zoom": 4, "zoomControl": true, "maxZoom": 17 },
    "mapsApiKey": "AIzaSyDH_VUHgooxpBZJBWEHfHnRt_mcCRsMvyI"
};
*/
{% endjavascript %}

<div class="template-404 page-width page-margin center">
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>

</div>