{{ 'locations.js' | asset_url | script_tag }}
{% include '../../index.html' %}



<div class="template-404 page-width page-margin center">

</div>

{% javascript %}
  var locations = [];
  for (let index = 0; index < CONFIGURATION.locations.length; index++) 
  {
    locations[index] = CONFIGURATION.locations[index]; 
  }
  console.log(locations);
  console.log("1");
  const jsVariable = document.getElementById('my-element').dataset.jsVariable;
  console.log(jsVariable);
{% endjavascript %}